* {
  font-family: 'Catamaran', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
@font-face {
    font-family: 'Scoreboard';
    src: url(scoreboard.ttf);
}

.body{
  background-color: #242526;
}
.bigContainer {
  background-color: #242526;
}
.header {
  text-align: center;
  background-color: #1A7CFA;
  color: white;
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerText {
  flex: 1;
}

.choiceBox {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: .5em;
}

.categorySelect {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: center;
}

.l1 {
  flex: 2;
}

.categorySelector {
  flex:3;
  width: 50%;
  text-align: center;
}

.difficulty {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  text-align: center;
}

.l2 {
  text-align: center;
  flex: 2
}
.difficultySelector {
  flex: 1;
  text-align: center;
}

.goButton {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gButton {
  display: flex;
  margin: auto;
  width: 50%;
  height: 100%;
  text-align: center;
}
.twoBoxes {
  display: flex;
  width: 80%;
  margin: auto;
}

.leftBox {
  flex: 3;
  margin-right: 2em;
  text-align: center;
  background-color: #686361;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.rightBox {
  flex: 1;
  margin-left: 2em;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #686361;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.category1 {
  background-color: #E32227;
  margin: .5em 1em .5em 1em;
  border: 3px solid white;

}
.question {
  display: flex;
  justify-content: center;
  align-items: center;
}
.question1 {
  flex: 1;
  background-color: #E32227;
  margin: .5em 1em .5em 1em;
  border: 3px solid white;
  min-height: 100px;
}
.answerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 280px;
}

.answer {
  flex-wrap: wrap;
  margin: .5em 1em .5em 1em;
  width: 40%;
  background-color: #1A7CFA;
  padding-top: 0;
  border: 3px solid white;
  color:black;

}
.answer:hover {
  background-color: #95b8e5;
  color: white;
}
.wrong {
  background-color: red;
}

.right {
  background-color: green;
}

.scoreBox {
  flex: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
  width: 60%;
  padding: 0;
  background-color: black;
  color:red;
  font-family: 'Scoreboard';
  border: 2px solid white;
}
.score {
  flex:1;
  padding-top: 1em;
}
.cScore {
  flex: 2;
  font-family: 'Scoreboard';
  font-size: 4em;
  color: red;
  margin-bottom: 0;
}

.topScore {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 1em;
  width: 60%;
  padding: 0;
  background-color: black;
  color:red;
  font-family: 'Scoreboard';
  border: 2px solid white;
}
.high {
  flex: 1;
  text-align: center;
}
.hScore {
  flex: 3;
  font-family: 'Scoreboard';
  font-size: 4em;
  margin-bottom: 0;
}

.resetButton {
  flex:2;
}
.blockBox {
  display: flex;
  flex-wrap: wrap;
  opacity: .4;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  min-height: 280px;
}

button {
  background-color: white;
  border: 2px solid black;
  border-radius: 10%;
  margin: 1em;
  text-align: center;
}

button:hover {
  background-color: #b3b3b3;
}
select {
  background-color: white;
  color: black;
  border: 2px solid black;
  text-align: center;
}

select:hover {
  background-color: #b3b3b3;
}

/*.alertBox {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  position: fixed;
  left:30%;
  top: 30%;
  background-color: white;
}
.alertBox {
  flex: 3;
}
.alertBut
 {
   flex:1;
 }*/
